<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script type="text/javascript" src="https://assets.pyecharts.org/assets/echarts.min.js"></script>
    <script src="https://how2j.cn/study/jquery.min.js"></script>
    <script type="text/javascript" src="https://assets.pyecharts.org/assets/echarts-wordcloud.min.js"></script>
</head>
<body>
<div id="main" style="width: 600px;height:400px;">

</div>
{#<button id="btrender" onclick="postit()">render1</button>#}
{#<button id="btrender2" onclick="postit2()">render2</button>#}
{#<button id="change" onclick="change()">change</button>#}
{#<div id="calendar" style="width:1000px;height:300px">#}
{##}
{#</div>#}

<div id="3d9686c74d5f4f9bbcecbf2f7acf173f" class="chart-container" style="width:900px; height:500px;"></div>
    <script>
        var chart_3d9686c74d5f4f9bbcecbf2f7acf173f = echarts.init(
            document.getElementById('3d9686c74d5f4f9bbcecbf2f7acf173f'), 'white', {renderer: 'canvas'});
        var option_3d9686c74d5f4f9bbcecbf2f7acf173f = {
    "animation": true,
    "animationThreshold": 2000,
    "animationDuration": 1000,
    "animationEasing": "cubicOut",
    "animationDelay": 0,
    "animationDurationUpdate": 300,
    "animationEasingUpdate": "cubicOut",
    "animationDelayUpdate": 0,
    "color": [
        "#c23531",
        "#2f4554",
        "#61a0a8",
        "#d48265",
        "#749f83",
        "#ca8622",
        "#bda29a",
        "#6e7074",
        "#546570",
        "#c4ccd3",
        "#f05b72",
        "#ef5b9c",
        "#f47920",
        "#905a3d",
        "#fab27b",
        "#2a5caa",
        "#444693",
        "#726930",
        "#b2d235",
        "#6d8346",
        "#ac6767",
        "#1d953f",
        "#6950a1",
        "#918597"
    ],
    "series": [
        {
            "type": "wordCloud",
            "shape": "circle",
            "rotationRange": [
                -90,
                90
            ],
            "rotationStep": 45,
            "girdSize": 20,
            "sizeRange": [
                20,
                100
            ],
            "data": [
                {
                    "name": "\u4e11\u964b\u7684\u53ef\u89c6\u5316",
                    "value": "66650",
                    "textStyle": {
                        "normal": {
                            "color": "rgb(51,41,46)"
                        }
                    }
                },
                {
                    "name": "\u57fa\u7840\u53ef\u89c6\u5316",
                    "value": "238688",
                    "textStyle": {
                        "normal": {
                            "color": "rgb(4,6,112)"
                        }
                    }
                },
                {
                    "name": "\u6570\u636e\u6e90",
                    "value": "80819",
                    "textStyle": {
                        "normal": {
                            "color": "rgb(40,57,148)"
                        }
                    }
                },
                {
                    "name": "\u7279\u522b\u63a8\u8350",
                    "value": "162193",
                    "textStyle": {
                        "normal": {
                            "color": "rgb(102,94,63)"
                        }
                    }
                },
                {
                    "name": "\u7edf\u8ba1\u53ef\u89c6\u5316",
                    "value": "76495",
                    "textStyle": {
                        "normal": {
                            "color": "rgb(17,72,77)"
                        }
                    }
                },
                {
                    "name": "\u7f51\u7edc\u53ef\u89c6\u5316",
                    "value": "76495",
                    "textStyle": {
                        "normal": {
                            "color": "rgb(34,8,149)"
                        }
                    }
                },
                {
                    "name": "\u827a\u672f\u53ef\u89c6\u5316",
                    "value": "148896",
                    "textStyle": {
                        "normal": {
                            "color": "rgb(32,75,39)"
                        }
                    }
                },
                {
                    "name": "\u9519\u8bef\u6570\u636e",
                    "value": "66650",
                    "textStyle": {
                        "normal": {
                            "color": "rgb(28,54,43)"
                        }
                    }
                }
            ],
            "drawOutOfBound": false,
            "textStyle": {
                "emphasis": {}
            }
        }
    ],
    "legend": [
        {
            "data": [],
            "selected": {}
        }
    ],
    "tooltip": {
        "show": true,
        "trigger": "item",
        "triggerOn": "mousemove|click",
        "axisPointer": {
            "type": "line"
        },
        "textStyle": {
            "fontSize": 14
        },
        "borderWidth": 0
    }
};
        chart_3d9686c74d5f4f9bbcecbf2f7acf173f.setOption(option_3d9686c74d5f4f9bbcecbf2f7acf173f);
        chart_3d9686c74d5f4f9bbcecbf2f7acf173f.on('click',function(params){
            var name = params.name
            postit(name)
        })
    </script>

<script type="text/javascript">
        // 基于准备好的dom，初始化echarts实例
        var myChart = echarts.init(document.getElementById('main'));

        // 指定图表的配置项和数据
        var option = {
            title: {
                text: 'ECharts 入门示例'
            },
            tooltip: {},
            legend: {
                data:['销量']
            },
            xAxis: {
                data: ["衬衫","羊毛衫","雪纺衫","裤子","高跟鞋","袜子"]
            },
            yAxis: {},
            series: [{
                name: '销量',
                type: 'bar',
                data: [5, 20, 36, 10, 10, 20]
            }]
        };

        // 使用刚指定的配置项和数据显示图表。
        myChart.setOption(option);
        function change() {
            var option = {
            title: {
                text: 'ECharts 入门示例'
            },
            tooltip: {},
            legend: {
                data:['销量']
            },
            xAxis: {
                data: ["羊毛衫","雪纺衫","裤子","手套","高跟鞋","袜子"]
            },
            yAxis: {},
            series: [{
                name: '销量',
                type: 'bar',
                data: [25, 10, 16, 30, 30, 10]
            }]
        };

        // 使用刚指定的配置项和数据显示图表。
        myChart.setOption(option);
        }
        myChart.on('click',function(params){
            var name = params.name
            postit(name)
        })
</script>
<script>
    function postit(data) {
        $.post(
            "/getdata/",
            {"type": "date","data":data},
            function (result) {
                $("#calendar").html(result)
            })
    }
    function postit2() {
        $.post(
            "/getdata/",
            {"type": "date2"},
            function (result) {
                $("#calendar").html(result)
            })
    }
</script>
</body>
</html>